:root {
    --dark-background-color: #1f2937;
    --dark-font-color: #f9faf8;
    --light-font-color: #1f2937;
}

body {
    margin: 0;
    min-height: 100vh;
}

.head {
    background-color: var(--dark-background-color);
    padding: 10px 8px;
    height: 5vh;
}

.headline {
    font-size: 36px;
    color: var(--dark-font-color);
}

.content {
    display: flex;
    flex: auto;
    min-height: 95vh;
}

.sidebar button {
    width: 60px;
    margin-top: 20px;
}

.sidebar {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: var(--dark-background-color);
    color: var(--dark-font-color);
}

.form {
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-self: stretch;
}

.container {
    display: flex;
    flex-wrap: wrap;
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid; 
    margin: 16px;   
    padding: 16px;
    width: 300px;
    height: 300px;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-size: 60px;
    text-align: center;
}

.author,
 .pages,
 .status{
    font-size: 30px;
}

.delete {
    width: 25px;
    height: 25px;
    align-self: flex-end;
}

/* The switch - the box around the slider */
.card .switch {
    align-self: center;
    margin-top: 10px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }