:root {
    --dark-background-color: #1f2937;
    --dark-font-color: #f9faf8;
    --light-font-color: #1f2937;
}

body {
    margin: 0;
    min-height: 100vh;
}

.head {
    background-color: var(--dark-background-color);
    padding: 10px 8px;
    height: 5vh;
}

.headline {
    font-size: 36px;
    color: var(--dark-font-color);
}

.content {
    display: flex;
    flex: auto;
    min-height: 95vh;
}

.sidebar button {
    width: 60px;
    margin-top: 20px;
}

.sidebar {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: var(--dark-background-color);
    color: var(--dark-font-color);
}

.form {
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-self: stretch;
}

.container {
    display: flex;
    flex-wrap: wrap;
}



.card {
    border: solid; 
    margin: 16px;   
    padding: 16px;
    width: 300px;
    height: 400px;
}

.title {
    font-size: 60px;
    text-align: center;
}

.author,
 .pages,
 .status{
    font-size: 30px;
}

.delete {
    width: 25px;
    height: 25px;
    align-self: flex-end;
}